.container {
    max-width: 1270px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.8;
    background: #fff;
    margin: 0;
}
 
ul {
    list-style: none;
}

img {
    width:100;
}

#logo {
    width: 180px;
    height: 150px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50%;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem; 
}

/* This makes the elements on the nav-bar horizontal */
#main-nav ul {
    display: flex; 
}

#main-nav li {
    padding: 1rem 1.5rem; 
}

#main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; 
}

#main-nav a:hover {
    border-color: #ccc; 
}
#main-nav a.current {
    border-color: #1c56df; 
}

#header-home {
    background: url("../img/bonfire.gif") no-repeat center right/cover;
    height: 100vh;
    color: #fff; 
}

#header-home .header-content {
    text-align: center;
    padding-top: 20%; 
}

#header-inner {
    background: url("../img/bonfire.gif") no-repeat 20% 30%/cover;
    height: 7rem;
    border-bottom: 3px solid #2c62e0; 
}

.back {
    width:80px;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
}

#section-news {
    background: url("../img/news.webp")
}

.flex-container {
    display: flex;
    padding-bottom: 35px;
}

.flex-child {
    flex: 1;
}  

.flex-child img{
    width: 105%;
}

.flex-child:first-child {
    margin-right: 35px;
} 

.info-text {
    background: rgba(104, 100, 100, 0.637);
}

.info-text ul {
    list-style-type: square;
    text-transform: uppercase;
    color: white;
    text-align: left;
    font-size: 25px;
    padding-bottom: 322px;
    margin-top: -32px;
}

footer {
	background-color: rgb(65, 141, 255);
	width: 100%;
	left: 0px;
	text-align: center;
}
/* Centrado de Contenido en Footer */
.footer {
	padding: 25px 25px;
	color: white;
}
  
  
  
  
  
  

  





  