/* Estilo de Footer */
footer {
	background-color: rgb(65, 141, 255);
	width: 100%;
	left: 0px;
	text-align: center;
}
/* Centrado de Contenido en Footer */
.footer {
	padding: 25px 25px;
	color: white;
}